body {
  margin: 0;
  padding: 0;
  background-color: powderblue;
  font-family: "Inknut Antiqua", serif;
}

.hero {
  height: 200px;
  background-color: white;
  border-bottom: 2px solid black;
}

.button-container {
  display: flex;
  width: 100%;
  gap: 4px;
}

.button {
  flex: 1;
  height: 32px;
  min-width: 0;
  margin-top: 2px;
  padding: 4px;
  text-decoration: none;
  background-color: white;
  border: 0;
  border-radius: 4px;

  font-family: "Inknut Antiqua", serif;
  font-size: clamp(12px, 2vw, 24px);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
